      <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>
  <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="row s-header__nav-wrap">
            <nav class="s-header__nav">
                <ul>
                    <li class="current"><a class="smoothscroll" href="/#hero">Home</a></li>
                    <li><a class="smoothscroll" href="/#about">About</a></li>
                    <li><a class="smoothscroll" href="/#resume">Experience</a></li>
                    <li><a class="smoothscroll" href="/#portfolio">Projects</a></li>
                    <li><a class="smoothscroll" href="/#contact">Say Hello</a></li>
                    <li><a class="smoothscroll" href="/sankey">Sankey</a></li>
                    <li><a class="smoothscroll" href="/force_direct">Force_Direct</a></li>
                </ul>
            </nav>
        </div> <!-- end row -->
        
        <a class="s-header__menu-toggle" href="#0" title="Menu">
            <span class="s-header__menu-icon"></span>
        </a>
    </header> <!-- end s-header -->